# PyInstaller
build/
dist/
*.spec.bak

# Python
__pycache__/
*.py[cod]
*$py.class

# Data caches
*.rawcache

# Virtual environment
pack_env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
